absl-py==0.13.0
asn1crypto==0.24.0
astunparse==1.6.3
atari-py==0.2.9
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
clang==5.0
cloudpickle==1.3.0
crafter==1.8.0
cryptography==2.1.4
dataclasses==0.8
decorator==5.1.1
dm-control==0.0.364896371
dm-env==1.5
dm-tree==0.1.7
flatbuffers==1.12
future==0.18.2
gast==0.4.0
glfw==2.5.5
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.39.0
gym==0.17.0
h5py==3.1.0
idna==2.6
imageio==2.15.0
importlib-metadata==4.6.3
importlib-resources==5.4.0
keras==2.6.0
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
labmaze==1.0.5
llvmlite==0.36.0
lxml==4.9.2
Markdown==3.3.4
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opensimplex==0.3
opt-einsum==3.3.0
Pillow==8.4.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pyglet==1.5.0
pygobject==3.26.1
PyOpenGL==3.1.6
pyparsing==3.0.9
python-apt==1.6.5+ubuntu0.6
pyxdg==0.25
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scipy==1.5.4
SecretStorage==2.3.1
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
tensorflow-probability==0.12.2
termcolor==1.1.0
tqdm==4.64.1
typing-extensions==3.7.4.3
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
